.SimplePlan {
  margin-bottom: 2rem;
}

.SimplePlan-content {
  position: relative;
}

.SimplePlan-day {
  margin-bottom: 1.2em;
}

.SimplePlanDay {
  font-family: 'Oswald';
  margin-bottom: 0.4em;
}

.SimplePlanDay--completion {
  opacity: 0.5;
}

.SimplePlanEvent--missed {
  color: #EA332C;
}

.SimplePlanEvent--completion {
  opacity: 0.5;
}