.LogPanel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 680px;
  max-width: calc(100vw - 300px);
  background: rgba(0, 0, 0, 0.95);
  padding: 3rem 1rem 1rem;
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  max-height: 100vh;
  overflow-y: auto;
  border-top: 4px solid #d5a613;
}

.LogPanel--compact {
  left: 0;
  right: 0;
  max-width: calc(100vw - 17px);
}

.LogPanel::-webkit-scrollbar {
  width: 2px;
}

.LogPanel::-webkit-scrollbar-track {
  background: rgba(242, 242, 242, 0);
}

.LogPanel::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
}

.LogPanel::-webkit-scrollbar-thumb:hover {
  background: rgb(135, 135, 135)
}

.LogPanel-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  color: #fff;
  padding: 0rem 0.6rem 0.6rem;
  opacity: 0.3;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1;
}

.LogPanel-close:hover {
  opacity: 0.6;
}

.LogPanel-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.8);
}
