#PockestHelperExtension .App {
  background-color: rgba(0, 0, 0, 0.95);
  color: rgb(204, 204, 204);
  font-size: 1rem;
  line-height: 1.2;
  font-family: "Noto Sans", sans-serif;
  width: 284px;
  transition: 0.5s transform;
  border-top: 4px solid #d5a613;
}

.App-inner {
  /* 2.2 + 1.5 + 2.4 + 2 + 2.43 */
  max-height: calc(100vh - 10.53rem);
  overflow-y: auto;
  padding: 0 1rem;
}

#PockestHelperExtension .App-inner::-webkit-scrollbar {
  width: 2px;
}

#PockestHelperExtension .App-inner::-webkit-scrollbar-track {
  background: rgba(242, 242, 242, 0);
}

#PockestHelperExtension .App-inner::-webkit-scrollbar-thumb {
  background: rgb(100, 100, 100);
}

#PockestHelperExtension .App-inner::-webkit-scrollbar-thumb:hover {
  background: rgb(135, 135, 135)
}

#PockestHelperExtension .App--minimized {
  transform: translate(0, calc(100% - 44px));
  overflow: visible;
}

#PockestHelperExtension .AppMinBtn {
  position: absolute;
  top: 4px;
  right: 0;
  background: none;
  border: 0;
  color: #fff;
  padding: 0.6rem;
  opacity: 0.3;
  cursor: pointer;
  font-size: 1.05rem;
}

#PockestHelperExtension .AppMinBtn:hover {
  opacity: 0.6;
}

#PockestHelperExtension .App-header {
  margin: 2.2rem 0 1.5rem;
}

#PockestHelperExtension .App-title {
  font-size: 2rem;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#PockestHelperExtension .App-button {
  display: flex;
  /* margin-top: 2rem; */
  padding: 1rem 0;
}

#PockestHelperExtension .App-button .PockestButton {
  width: 100%;
}

#PockestHelperExtension .App-footer {
  padding: 0 1rem;
}

#PockestHelperExtension .App-updateText {
  font-size: 0.8em;
  margin-bottom: 1rem;
  text-align: center;
}

#PockestHelperExtension .App-sprite {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 2.5rem) scale(1.5);
  transform-origin: bottom center;
  padding: 0;
  cursor: pointer;
  background: none;
  min-width: 5px;
  min-height: 5px;
  border: 0;
}

#PockestHelperExtension hr {
  opacity: 0.1;
  margin: 1.1rem 0;
}

#PockestHelperExtension em {
  font-weight: bold;
  font-style: italic;
}

.PockestIcon {
  font-family: auto;
}

.PockestLine,
.TimerLine {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.PockestLine {
  display: flex;
  justify-content: space-between;
}

.PockestLine-value {
  max-width: 50%;
  text-align: right;
}

.PockestText--error {
  color: red;
}

.PockestText--info::after {
  content: 'ℹ️';
  font-size: 0.666em;
  position: relative;
  display: inline-block;
  top: -0.5em;
  left: 0.25em;
}

.PockestInput,
.PockestSelect {
  position: relative;
  border: 2px solid #d5a613;
  background: hsla(0, 0%, 100%, .2);
  color: #fcfcfc;
  font-weight: 700;
  line-height: 1;
  width: 100px;
  text-transform: capitalize;
}

.PockestSelect {
  cursor: pointer;
}

.PockestSelect option {
  color: #000;
}

.PockestInput:disabled,
.PockestSelect:disabled {
  cursor: default;
  filter: grayscale();
  opacity: 0.5;
}

.PockestInput:invalid,
.PockestSelect:invalid {
  background: rgba(255, 0, 0, 0.2);
  border-color: red;
}

.PockestCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.PockestCheck-input {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  background-color: initial;
  appearance: auto;
  box-sizing: border-box;
  margin: 0;
  padding: initial;
  border: initial;
}

.PockestCheck-text {
  display: flex;
  align-items: center;
}

.PockestCheck-text::before {
  width: 0.9em;
  height: 0.9em;
  display: block;
  content: "";
  border: 2px solid #d5a613;
  margin-right: 0.25em;
  margin-bottom: 0.1em;
  background: hsla(0, 0%, 64%, .2);
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.PockestCheck-input:disabled~.PockestCheck-text {
  cursor: default;
}

.PockestCheck-input:disabled~.PockestCheck-text::before {
  cursor: default;
  filter: grayscale();
  opacity: 0.5;
}

.PockestCheck-input:checked~.PockestCheck-text::before {
  background: url('https://www.streetfighter.com/6/buckler/assets/images/auth/icon_check.png') no-repeat 50%;
  background-size: contain;
}

.PockestStat {
  text-transform: uppercase;
}

.PockestStat--power {
  color: #EB7384;
}

.PockestStat--speed {
  color: #8683F1;
}

.PockestStat--technic {
  color: #88BA76;
}

.PockestStat-label {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  margin-right: 0.4em;
}

.PockestButton {
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  height: 2.7em;
  clip-path: polygon(4px 0, 100% 0, 100% calc(100% - 4px), calc(100% - 4px) 100%, 0 100%, 0 4px);
  font-size: 1rem;
  border: 0;
  font-weight: 500;
  padding: 0 3em;
  font-size: 0.9em;
}

.PockestButton:disabled {
  cursor: default;
  opacity: 0.8;
  color: #bbb;
}

.PockestLink {
  color: #fff;
  text-decoration: underline;
  background: inherit;
  box-shadow: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  line-height: inherit;
  padding: 0;
}

/* Tooltip container */
.PockestToolTip {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

/* Tooltip text */
.PockestToolTip .PockestToolTip-text {
  z-index: 1;
  visibility: hidden;
  width: 15em;
  text-align: center;
  padding: 0.3333em 0.5em;
  border: 1px solid #d5a613;
  background: hsla(0, 0%, 27%, 0.95);
  color: rgb(204, 204, 204);
  font-size: 0.75rem;
  font-weight: 100;
  letter-spacing: 0.0333em;
  text-align: left;

  position: absolute;
  top: -5px;
  left: 105%;
}

/* Show the PockestToolTip text when you mouse over the PockestToolTip container */
.PockestToolTip:hover .PockestToolTip-text,
.PockestToolTip:focus .PockestToolTip-text {
  visibility: visible;
}

.PockestToolTip--left .PockestToolTip-text {
  right: 105%;
  left: initial;
}

.PockestToolTip--bottom .PockestToolTip-text {
  bottom: -5px;
  top: initial;
}