#PockestHelperExtension .App {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(204, 204, 204);
  font-size: 17.575px;
  line-height: 1.2;
  font-family: "Noto Sans", sans-serif;
  padding: 1em;
  width: 280px;
  transition: 0.5s transform;
  max-height: 100%;
  overflow-y: auto;
}

#PockestHelperExtension .App--minimized {
  transform: translate(calc(-100% + 30px), calc(100% - 30px));
}

#PockestHelperExtension .AppMinBtn {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  color: #fff;
  padding: 0.3rem;
  opacity: 0.3;
  cursor: pointer;
}

#PockestHelperExtension .App-header {
  margin: 1rem 0 1.5rem;
}

#PockestHelperExtension .App-title {
  font-size: 2em;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

#PockestHelperExtension .App-button {
  display: flex;
  margin-top: 2rem;
}

#PockestHelperExtension .App-button .PockestButton {
  width: 100%;
}

#PockestHelperExtension .App-footer {
  opacity: 0.6667;
  font-size: 0.8em;
  margin-top: 1rem;
  text-align: left;
}

#PockestHelperExtension hr {
  opacity: 0.1;
  margin: 1.1rem 0;
}

.PockestLine,
.TimerLine {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.PockestLine {
  display: flex;
  justify-content: space-between;
}

.PockestSelect {
  border: 2px solid #d5a613;
  background: hsla(0, 0%, 100%, .2);
  color: #fcfcfc;
  font-weight: 700;
  line-height: 1;
  width: 100px;
  text-transform: capitalize;
  cursor: pointer;
}

.PockestSelect:disabled {
  cursor: default;
  filter: grayscale();
  opacity: 0.5;
}

.PockestSelect option {
  color: #000;
}

.PockestCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.PockestCheck-input {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.PockestCheck-text {
  display: flex;
  align-items: center;
}

.PockestCheck-text::before {
  width: 1em;
  height: 1em;
  margin: 0 min(0.5208333333vw, 10px) 0 0;
  display: block;
  content: "";
  border: 2px solid #d5a613;
  background: hsla(0, 0%, 64%, .2);
  box-sizing: border-box;
  font-size: min(1.0416666667vw, 20px);
  font-weight: 700;
  cursor: pointer;
}

.PockestCheck-input:disabled~.PockestCheck-text {
  cursor: default;
}

.PockestCheck-input:disabled~.PockestCheck-text::before {
  cursor: default;
  filter: grayscale();
  opacity: 0.5;
}

.PockestCheck-input:checked~.PockestCheck-text::before {
  background: url(/6/buckler/assets/images/auth/icon_check.png) no-repeat 50%;
  background-size: contain;
}

.PockestButton {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.5rem;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  height: 2.5em;
  clip-path: polygon(min(0.5208333333vw, 10px) 0, 100% 0, 100% calc(100% - min(0.5208333333vw, 10px)), calc(100% - min(0.5208333333vw, 10px)) 100%, 0 100%, 0 min(0.5208333333vw, 10px));
  font-size: min(1.0416666667vw, 20px);
}

@keyframes buttonOn {
  from {
    opacity: 0.75;
  }

  to {
    opacity: 0.95;
  }
}

.PockestButton--off {
  opacity: 0.85;
}

.PockestButton--on {
  opacity: 0.85;
  animation: 2s infinite alternate buttonOn;
}