.App {
  background-color: rgba(0, 0, 0, 0.8);
  color: rgb(204, 204, 204);
  font-size: 17.575px;
  line-height: 1.2;
  font-family: "Noto Sans", sans-serif;
  padding: 1em;
  width: 226px;
}

.App-title {
  font-size: 2em;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  text-align: center;
}