/* .PockestButton--side {
  font-size: 0.667em;
  text-transform: uppercase;
  clip-path: polygon(min(0.5208333333vw, 10px) 0, 100% 0, 100% 100%, calc(100% - min(0.5208333333vw, 10px)) 100%, 0 100%, 0 min(0.5208333333vw, 10px));
  position: absolute;
  transform: rotate(90deg);
  transform-origin: bottom left;
  bottom: 100%;
  left: 100%;
  width: 100px;
} */