.SimpleControlsLine {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.SimpleControlsSelect,
.SimpleControlsButton {
  text-transform: capitalize;
  cursor: pointer;
}

.SimpleControlsSelect {
  border: 1px solid hsla(0, 0%, 100%, .5);
  background: hsla(0, 0%, 100%, .2);
  color: #fcfcfc;
  font-weight: 700;
  line-height: 1;
}

.SimpleControlsSelect option {
  color: #000;
}

.SimpleControlsCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.SimpleControlsCheck-input {
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  transform: translateY(-50%);
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.SimpleControlsCheck-text {
  display: flex;
  align-items: center;
}

.SimpleControlsCheck-text::before {
  width: 1em;
  height: 1em;
  margin: 0 min(0.5208333333vw, 10px) 0 0;
  display: block;
  content: "";
  border: 2px solid #d5a613;
  background: hsla(0, 0%, 64%, .2);
  box-sizing: border-box;
  font-size: min(1.0416666667vw, 20px);
  font-weight: 700;
  cursor: pointer;
}

.SimpleControlsCheck-input:checked~.SimpleControlsCheck-text::before {
  background: url(/6/buckler/assets/images/auth/icon_check.png) no-repeat 50%;
  background-size: contain;
}

.SimpleControlsButton {
  font-size: 0.9em;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  height: 2em;
  clip-path: polygon(min(0.5208333333vw, 10px) 0, 100% 0, 100% calc(100% - min(0.5208333333vw, 10px)), calc(100% - min(0.5208333333vw, 10px)) 100%, 0 100%, 0 min(0.5208333333vw, 10px));
  font-size: min(1.0416666667vw, 20px);
}

.SimpleControlsButton--side {
  font-size: 0.667em;
  text-transform: uppercase;
  clip-path: polygon(min(0.5208333333vw, 10px) 0, 100% 0, 100% 100%, calc(100% - min(0.5208333333vw, 10px)) 100%, 0 100%, 0 min(0.5208333333vw, 10px));
  position: absolute;
  transform: rotate(90deg);
  transform-origin: bottom left;
  bottom: 100%;
  left: 100%;
}

.SimpleControlsButton--off {
  filter: grayscale();
  opacity: 0.5;
}

.SimpleControls .TimerLine {
  margin-top: 0.2rem;
}

.SimpleControls-footer {
  opacity: 0.6667;
  font-size: 0.8em;
  margin-top: 1rem;
  text-align: center;
}