.Status {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Status-item--garbage .Status-icon {
  color: #bf6952;
}

.Status-item--stomach .Status-icon {
  color: #ff0000;
}