#PockestHelperExtension {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  pointer-events: none;
}

#PockestHelperExtension .App {
  pointer-events: all;
}

#PockestHelperExtension * {
  box-sizing: border-box;
}

#PockestHelperExtension a {
  text-decoration: underline;
}